experiments
models
imdb/
static_sun09_database.zip
.idea
segmentation2*
Answers.p
IRRC.tptp
Problems.p
execution.log
notebooks/
query_prover.sh
.DS_Store
.ipynb_checkpoints/
*.ipynb
data/*
original
segmentation
images
*.prototxt
*.pyc
*.hdf5
*.caffemodel

